<div class="container" style="margin-bottom: 10px">
  <div class="row">
    <div class="col s6 m1">
      <img style="margin-top: 15px; cursor: pointer" (click)="goToList()" src="/assets/img/madju-computindo-logo.jpeg">
    </div>
    <div class="col s6 m5">
      <h4 class="title-beautify" style="margin-left:15px;cursor: pointer" (click)="goToList()">{{title}}</h4>
    </div>
    <div class="col s6 m6"
         style="color: rgba(0, 0, 0, .6);text-align: right;font-size: 14px; margin-top: 25px;font-weight: bold">
      Today is {{ todays | date:medium}}
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col s4 offset-s8" style="text-align: right">
      <div style="font-size: 9px;">&copy;Edward Suwirya, 2017</div>
    </div>
  </div>
</div>
