<app-please-wait [pleaseWaitActive]="pleaseWaitActive"></app-please-wait>
<div class="row">
  <div class="col s12 m12">
    <div class="card white darken-1 grey-text">
      <a class="btn-flat grey-text" routerLink="/home">Home</a>
      <div class="card-content">
        <span class="card-title">
          <h5 class="left text-beauty">Supplier List</h5>
        </span>
        <button type="button" class="btn-floating green right" (click)="newSupplier()"><i
          class="fa fa-plus"></i>
        </button>
        <button type="button" class="btn-floating green right" (click)="refreshSupplier()" style="margin-right: 5px">
          <i class="fa fa-refresh"></i>
        </button>
        <div class="list-content">
          <table class="bordered" *ngIf="!smallWindow">
            <thead>
            <tr>
              <th>
                <div class="header-text">
                  <span>Name</span>
                  <a (click)="showSearchBar('Name')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
              </th>
              <th>
                <div class="header-text">
                  <span>Phone No</span>
                  <a (click)="showSearchBar('Phone')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
              </th>
              <th>
                <div class="header-text">
                  <span>Address</span>
                  <a (click)="showSearchBar('Address')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
              </th>
              <th>
                <div class="header-text">
                  <span>Bank Acc.</span>
                  <a (click)="showSearchBar('Bank')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
              </th>
              <th>
                <div class="header-text-center">
                  <span>Status</span>
                  <a (click)="showSearchBar('Status')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
              </th>
              <th></th>
            </tr>
            <tr [hidden]="!showFilter">
              <td colspan="6">
                <input type="text" id="txtFilter" placeholder="{{filterSupplierBy}}" [formControl]="filterSupplier">
              </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sup of suppliers" class="small-font">
              <td>{{sup.supplierName}}</td>
              <td>{{sup.supplierPhone}}</td>
              <td>{{sup.supplierAddress}}</td>
              <td>{{sup.supplierBank}}</td>
              <td style="text-align: center;">
                <input type="checkbox" class="filled-in" *ngIf="sup.supplierStatus==='1'" checked="checked"/>
                <input type="checkbox" class="filled-in" *ngIf="sup.supplierStatus==='0'"/>
                <label></label>
              </td>
              <td>
                <a class="orange-text darken-4 action-button to-pointer" (click)="updateSupplier(sup)">Update</a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col s4 m4 offset-s8 offset-m8 pagination">
              <span class="to-pointer" (click)="prev()"><i class="fa fa-arrow-left"></i></span>
              <span>{{page+1}}</span>
              <span class="to-pointer" (click)="next()"><i class="fa fa-arrow-right"></i></span>
            </div>
          </div>
          <table class="bordered" *ngIf="smallWindow">
            <thead>
            <tr>
              <th>Name <a (click)="showSearchBar('Name')" class="to-pointer"><i class="fa fa-search"></i></a></th>
            </tr>
            <tr>
              <th>Phone No <a (click)="showSearchBar('Phone')" class="to-pointer"><i class="fa fa-search"></i></a></th>
            </tr>
            <tr>
              <th>Address <a (click)="showSearchBar('Address')" class="to-pointer"><i class="fa fa-search"></i></a></th>
            </tr>
            <tr>
              <th>Bank.Acc <a (click)="showSearchBar('Bank')" class="to-pointer"><i class="fa fa-search"></i></a></th>
            </tr>
            </thead>
            <tbody>
            <tr [hidden]="!showFilter">
              <td>
                <input type="text" placeholder="{{filterSupplierBy}}" [formControl]="filterSupplier">
              </td>
            </tr>
            <tr *ngFor="let sup of suppliers" class="small-font">
              <td>
                <div>{{sup.supplierName}}</div>
                <div>{{sup.supplierPhone}}</div>
                <div>{{sup.supplierAddress}}</div>
                <div>{{sup.supplierBank}}</div>
                <div><a class="orange-text darken-4 action-button to-pointer"
                        (click)="updateSupplier(sup)">Update</a></div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
