<app-please-wait [pleaseWaitActive]="pleaseWaitActive"></app-please-wait>
<div class="row">
  <div class="col s12 m12">
    <div class="card white grey-text">
      <a class="btn-flat grey-text" routerLink="/home">Home</a>
      <div class="card-content">
        <span class="card-title">
          <h5 class="left text-beauty">Product List</h5>
        </span>
        <button type="button" class="btn-floating green right" (click)="newProduct()">
          <i class="fa fa-plus"></i>
        </button>
        <button type="button" class="btn-floating green right" (click)="refreshProduct()" style="margin-right: 5px">
          <i class="fa fa-refresh"></i>
        </button>
        <div class="list-content">
          <table class="bordered" *ngIf="!smallWindow">
            <thead>
            <tr>
              <th>
                <div class="header-text">
                  <span>Id</span>
                  <a (click)="showSearchBar('Id')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
                <div class="header-text">
                  <span>Barcode</span>
                  <a (click)="showSearchBar('Barcode')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
              </th>
              <th>
                <div class="header-text">
                  <span>Name</span>
                  <a (click)="showSearchBar('Name')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
              </th>
              <th>
                <div class="header-text">
                  <span>Spesification</span>
                  <a (click)="showSearchBar('Spesification')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
                <div class="header-text">
                  <span>Description</span>
                  <a (click)="showSearchBar('Description')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
              </th>
              <th>
                <div class="header-text-number">
                  <span>Last Price</span>
                </div>
              </th>
              <th>
                <div class="header-text-number">
                  <span>Stock</span>
                  <a (click)="showSearchBar('Stock')" class="to-pointer"><i class="fa fa-search"></i></a>
                </div>
              </th>
              <th class="header-text-center">
                <span>Status</span>
                <a (click)="showSearchBar('Status')" class="to-pointer"><i class="fa fa-search"></i></a>
              </th>
              <th></th>
            </tr>
            <tr [hidden]="!showFilter">
              <td colspan="7">
                <input type="text" id="txtFilter" placeholder="{{filterProductBy}}" [formControl]="filterProduct">
              </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prod of products" class="medium-font">
              <td style="width: 13%">
                <div>{{prod.productId}}</div>
                <div>{{prod.productBarcode}}</div>
              </td>
              <td style="width: 27%">{{prod.productName}}</td>
              <td style="width: 30%">
                <div>{{prod.productSpesification}}</div>
                <div>{{prod.productDescription}}</div>
              </td>
              <td style="text-align: right;">{{prod.productLastPrice | price}}</td>
              <td style="text-align: right;">{{prod.productStock | price}}</td>
              <td style="text-align: center;">
                <input type="checkbox" class="filled-in" *ngIf="prod.productStatus==='1'" checked="checked"/>
                <input type="checkbox" class="filled-in" *ngIf="prod.productStatus==='0'"/>
                <label></label>
              </td>
              <td>
                <a class="orange-text darken-4 action-button to-pointer" (click)="updateProduct(prod)">Update</a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col s4 m4 offset-s8 offset-m8 pagination">
              <span class="to-pointer" (click)="prev()"><i class="fa fa-arrow-left"></i></span>
              <span>{{page+1}}</span>
              <span class="to-pointer" (click)="next()"><i class="fa fa-arrow-right"></i></span>
            </div>
          </div>
          <table class="bordered" *ngIf="smallWindow">
            <thead>
            <tr>
              <th>Id <a (click)="showSearchBar('Id')" class="to-pointer"><i class="fa fa-search"></i></a></th>
            </tr>
            <tr>
              <th>Barcode <a (click)="showSearchBar('Barcode')" class="to-pointer"><i class="fa fa-search"></i></a></th>
            </tr>
            <tr>
              <th>Name <a (click)="showSearchBar('Name')" class="to-pointer"><i class="fa fa-search"></i></a></th>
            </tr>
            <tr>
              <th>Spesification <a (click)="showSearchBar('Spesification')" class="to-pointer"><i
                class="fa fa-search"></i></a></th>
            </tr>
            <tr>
              <th>Description <a (click)="showSearchBar('Description')" class="to-pointer"><i class="fa fa-search"></i></a>
              </th>
            </tr>
            <tr>
              <th>Last Price <a (click)="showSearchBar('LastPrice')" class="to-pointer"><i class="fa fa-search"></i></a>
              </th>
            </tr>
            <tr>
              <th>Stock <a (click)="showSearchBar('Stock')" class="to-pointer"><i class="fa fa-search"></i></a></th>
            </tr>
            </thead>
            <tbody>
            <tr [hidden]="!showFilter">
              <td>
                <input type="text" placeholder="{{filterProductBy}}" [formControl]="filterProduct">
              </td>
            </tr>
            <tr *ngFor="let prod of products" class="small-font">
              <td>
                <div>{{prod.productId}}</div>
                <div>{{prod.productBarcode}}</div>
                <div>{{prod.productName}}</div>
                <div>{{prod.productSpesification}}</div>
                <div>{{prod.productDescription}}</div>
                <div>{{prod.productLastPrice | price}}</div>
                <div>{{prod.productStock | price}}</div>
                <div>
                  <input type="checkbox" class="filled-in" *ngIf="prod.productStatus" checked="checked"/>
                  <input type="checkbox" class="filled-in" *ngIf="!prod.productStatus"/>
                </div>
                <div><a class="orange-text darken-4 action-button to-pointer"
                        (click)="updateProduct(prod)">Update</a></div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
