/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

td, th {
  padding: 5px 5px !important;
}

.text-beauty {
  color: #666;
  background-color: transparent;
  text-shadow: #555 0 0 10px;
}

.title-beautify {
  color: rgba(0, 0, 0, .6);
  background-color: transparent;
  text-shadow: rgba(0, 0, 0, .2) 2px 6px 5px, rgba(255, 255, 255, .4) 0 -4px 30px;
}

.row {
  margin-bottom: 0 !important;
}

.small-font {
  font-size: 10px;
}
.medium-font {
  font-size: 12px;
}
.icon-action {
  cursor: pointer;
  margin-right: 5px;
}

.header-text {
  font-size: 12px;
  font-weight: bolder;
}

.header-text-center {
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
}

.header-text-number {
  font-size: 12px;
  font-weight: bolder;
  text-align: right;
}

.to-pointer {
  cursor: pointer;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85% !important;
  }
}



