<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
  <li class="active">
    <div class="collapsible-header active">Transaction</div>
    <div class="collapsible-body" style="display: block;">
      <button class="btn green menu-button-large" routerLink="/sales">Sales</button>
      <button class="btn green menu-button-large">Purchase</button>
    </div>
  </li>
  <li class="">
    <div class="collapsible-header">Master</div>
    <div class="collapsible-body" style="display: none;">
      <button class="btn blue menu-button-large" routerLink="/supplier">Supplier</button>
      <button class="btn blue menu-button-large" routerLink="/customer">Customer</button>
      <button class="btn blue menu-button-large" routerLink="/product">Product</button>
    </div>
  </li>
  <li class="">
    <div class="collapsible-header">Report</div>
    <div class="collapsible-body" style="display: none;">
      <button class="btn red menu-button-large">Unpaid Sales</button>
      <button class="btn red menu-button-large">Sales by Customer</button>
    </div>
  </li>
</ul>
