<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
  <li class="active">
    <div class="collapsible-header active">Transaction</div>
    <div class="collapsible-body" style="display: block;">
      <button class="btn light-green lighten-2 menu-button-large" routerLink="/sales">Sales</button>
      <button class="btn light-green lighten-2 menu-button-large">Purchase</button>
      <button class="btn red lighten-2 menu-button-large" routerLink="/salesCancel">Sales Cancellation</button>
    </div>
  </li>
  <li class="">
    <div class="collapsible-header">Master</div>
    <div class="collapsible-body" style="display: none;">
      <button class="btn light-blue lighten-2 menu-button-large" routerLink="/supplier">Supplier</button>
      <button class="btn light-blue lighten-2 menu-button-large" routerLink="/customer">Customer</button>
      <button class="btn light-blue lighten-2 menu-button-large" routerLink="/product">Product</button>
    </div>
  </li>
  <li class="">
    <div class="collapsible-header">Report</div>
    <div class="collapsible-body" style="display: none;">
      <button class="btn orange lighten-2 menu-button-large" routerLink="/salesReport">Sales Report</button>
      <button class="btn orange lighten-2 menu-button-large" routerLink="/salesCustomerReport">Sales Customer Report</button>
    </div>
  </li>
</ul>
